<header class="clearfix">

  <!-- Branding -->
  <div class="branding">
    <a class="brand2">
	  <img ng-src="{{logo}}" style="height: 100%;" class="mt-5">
    </a>
  </div>
  <!-- Branding end -->

  <!-- Right-side navigation -->
  <ul class="nav-right pull-right list-inline">
	
	<button type="button" ng-click="logOut()" class="btn btn-default mt-5"> <fa name="sign-out"></fa> Logout</button>

    <li class="toggle-right-sidebar">

    </li>
	
  </ul>
  <!-- Right-side navigation end -->

</header>
