<div id="sidebar-wrap" ng-controller="NavCtrl" ng-init="init()">

    <uib-accordion close-others="oneAtTime" slimscroll="{height: '100%'}">

        <uib-accordion-group is-open="true">

            <uib-accordion-heading>
                Navigation <i class="pull-right fa" ng-class="{'fa-angle-up': status.isFirstOpen, 'fa-angle-down': !status.isFirstOpen}"></i>
            </uib-accordion-heading>

            <ul id="navigation" ng-repeat="page in pages" nav-collapse ripple>

                <li>

                    <a ng-style="page.customStyle"><fa name="{{page.icon_name}}"></fa><span>{{page.name}}</span></a>

                    <ul ng-repeat="subPage in page.subPages" ng-style="subPage.customStyle">

                        <li ng-style="subPage.customStyle" ui-sref="app.dashboard({pageId: page.id, subPageId: subPage.id})">

                            <a ng-style="subPage.customStyle"><fa name="{{subPage.icon_name}}"></fa><span>{{subPage.name}}</span></a>

                        </li>

                    </ul>

                </li>

            </ul>

        </uib-accordion-group>

    </uib-accordion>

</div>
