<section ng-include="'views/header.html'" id="header" ng-style="navbarStyle"></section>

<div id="controls">

  <aside ng-include="'views/nav.html'" id="sidebar" class="{{main.settings.sidebarColor}}" ng-class="{'aside-fixed':main.settings.asideFixed}"></aside>

  <aside ng-include="'views/rightbar.html'" id="rightbar"></aside>

</div>

<div class="view-container" ui-view-container>
  <section ui-view id="content" autoscroll="false"></section>
</div>

